[user]
	name = Felix Kling
	email = felix.kling@gmx.net
[color]
	status = auto
	branch = auto
	ui = true
	diff = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[alias]
	unstage = reset HEAD --
  discard = checkout --
	last = log -1 HEAD
	graph = log --graph --pretty=format:'%C(auto)%h%Creset%C(auto)%d%Creset %s %C(magenta bold)(%cr)%Creset %C(cyan)<%aN>%Creset'
	amend = commit --amend -v
  fixup = !git add -u && git commit --amend -C HEAD
	co = checkout
	st = status
	rewrite = rebase -i
	po = push origin
[push]
	default = simple
[credential]
	helper = osxkeychain
[credential "https://github.com/"]
  username = fkling
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[log]
	decorate = short

[include]
  path = ~/.gitconfig.local
