snippet hhh
<?hh // strict
// Copyright 2004-present Facebook. All Rights Reserved.

endsnippet

snippet testhead
/**
 * @emails ${1:oncall+ui_infra}${2:,}${3:fkling@fb.com}
 */

endsnippet

snippet cls
class ${1:ClassName}${2: extends ${3:SuperClass}}${4: implements Interface} \{
	$0
\}
endsnippet

snippet Aw
Awaitable<$0>
endsnippet

snippet paf
public async function($1): $2 \{
	$0
\}
endsnippet
